* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #333;
    background-color: #fff;
}

p {
    font-size: 14px;
}

.error {
    color: white;
    background-color: red;
    text-align: center;
}

blockquote {
    border-left: 5px solid #eeeeee;
    padding-left: 10px;
    margin-left: 0px;
    font-size: 16px;
}

blockquote p>span {
    font-weight: bold;
}

span.cite {
    display: block;
    font-style: italic;
    margin-top: -15px;
}

blockquote:hover {
    background-color: #dcdcdc;
}

div.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

div#add-book-search-results-div {
    margin-top: 15px;
}

.cover-image {
    width: 310px;
    float: left;
}

div.reviews {
    float: left;
    margin-left: 20px;
    width: 470px;
    margin-top: -40px;
}

form {
    margin-top: 15px;
    display: block;
    background-color: #e7e7e7;
    padding-top: 20px;
    padding-bottom: 20px;
}

#submit-button, #delete-button, #add-book, #display-books, #find-book-button, #post-book-button {
    font-weight: normal;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    height: 43px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #2c3e50;
    margin-top: 20px;
    margin-right: 30px;
}

#submit-button, #delete-button, #post-book-button {
    display: block;
    float: right;   
    margin-bottom: 15px;
    
}

#display-books, #add-book  {
    display: block;
    float: left;
    margin-bottom: 15px;    
}

#find-book-button {
    display: inline-block;
    margin-bottom: 15px;
}

#add-book-div {
    display: table;
    width: inherit;
}

.table-cell {
    display: table-cell;
}



label {
    min-width: 160px;
    width: auto;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 15px;
    color: rgb(44, 62, 80);
    font-weight: bold;
    line-height: 22px;
    padding-left: 15px;
    display: inline-block;
    margin-right: 20px;
    padding-top: 11px;
}

input, select {
    width: 245px;
    display: inline-block;
    height: 43px;
    line-height: 1.43;
    border-radius: 5px;
    padding-left: 10px;
    border-style: solid;
}
input {
    margin-right: 30px;
}

textarea {
    width: 410px;
    height: 300px;
    padding-top: 10px;
    line-height: 1.43;
    border-radius: 5px;
    padding-left: 10px;
    border-style: solid;
    margin-right: 20px;
    margin-left: 20px;
}

ol.nav {
    list-style: none;
    border: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    padding: 0 10px;
    font-size: 14px;
}

li {
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    padding: 15px;
}

.nav li a:focus {
    background-color: #e7e7e7;
}

.clear {
    clear: both;
    margin-bottom: 10px;
}

.book {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.book:hover {
    background-color: #f8f8f8;
}