p{
    color: #404040;
    font-size: 15px;
    font-family: Georgia, Garamond
}
h1, h2,h3,
h4,h5,h6 {
    color: #A4A400;
    background-color: #F0F0F0;
    text-decoration: underline;
    font-family: Lucida Sans Unicode, Helvetica, Arial;
    text-align: left;
    font-weight: normal;
    font-size: 18px;
    text-decoration: underline;
}
h1 {      
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.quote {
    padding-left: 1.5em;
    background:lightyellow;
    border-radius: 0.5em;
    width: 90%;  
    margin-left: 30px;
    font-style: italic;
}
p .margin {
    line-height: 90%;
}
.link a{
    color: #A4A400;
}
.copyright-block {
    text-align: left;
}

.copyright {
    font-family: monospace;
    text-align: right;
    display: inline-block;
}