/* 
    See https://www.w3schools.com/css/css_margin.asp for a
    discussion of the margin property.
*/
body {
    color: purple;
    background-color: #ddddbb;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width:800px;   
    margin-left: auto;
    margin-right: auto;
}
h1{
    padding:0.5em;
    border-right: 1em solid black;
    background-color: #aaaa77;
    color: white;
    text-shadow: 2px 3px 0px gray;
}
p:hover{
    background-color: #aaaa77;
}
.navigation {
    width: 30%;
    padding-right: 1.5em;
}
.navigation li {
    border-right: 1em solid black;
    background-color: white;
    color: black;
    width:9em;
    margin-bottom: 1.5em;
    padding: 0;
}
li:hover{
    background-color: #c7c78f;
}
.navigation ul{
    float:left;
    list-style-type: none;
    padding-left: 0;
}
.navigation a {
    color: black;
    text-decoration: none;
    padding-right: 1.3em;
    padding-left: 1.3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-top: 0.5em;
}
.navigation a:hover{
    color:white;
}
.navigation a:visited {
    color:#7b7d5a;
}
.container {
    display: flex;
}
.main {
    padding-left: 1.5em;
    background: #fff;
    border-radius: 0.5em;
    width: 70%; 
}
li {
    padding-top: 10px;
}
h4 {
    display: inline;
    text-transform: uppercase;
}
#credits {
    border-top: dotted purple;
}
img {
    float:right;
    width:250px;
    height:250px;
    margin-left: 5px;
    margin-bottom: 5px;
}
