body {
    background-image: url(../images/background.png);
    font-size: 8px;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.banner-img  {
    background-image: url(../images/bannerbg.png);
}
h1 {
    font-weight: bold;
    font-size: 24px;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px 3px #999999;
    text-align: center;
}

.whole-page {
    width: 800px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 4px solid gray;
    overflow: hidden;
}
.critic {
    display: inline-block;
    background-image: url(../images/rbg.png);
    width: 550px;
    font-weight: bold;
    font-size: 48px;
    color: red;
    height: 83px;
    line-height: 83px;
}
.critic img {
    float: left;
}
.movie-overview {
    width: 250px;
    float: right;
    background-color: #a2b964;
    font-family: Arial, sans-serif;
}
.movie-overview dl {
    margin: 10px;
}
.movie-overview dt {
    font-weight: bold;
    margin-top: 10px;
}
.movie-overview dd ul {
    list-style-type: none;
    padding-left: 0;
}


.movie-comments {
    display: table;
}

.comment {
    width: 47%;
    margin: 1% 1%;
    display: inline-block;
    vertical-align: top;
}

.review {
    font-weight: bold;
    font-size: 8px;
    background-color: #e8dc9b;
    border: 2px solid gray;
    border-radius: 10px;
}
.review p{
    display: inline-block;
    margin: 8px;
    /* float: left; */
}
.review p img {
    margin-right: 5px;
    float: left;
}

.validate {
    position: fixed;
    right: 0;
    bottom: 0;
}

.validate a img {
    opacity: 0.5;
}
.footer {
    background-color: #a2b964;
    padding: 5px;
    margin-bottom: 0;
    text-align: center;
}